<main role="main" class="container">

    <div class="starter-template">
        <div>
            <br><br><br><br><br><br>

            <h1 style="text-align: center;">Todo List</h1>

            <form class="todo-form" ng-submit="vm.saveOrUpdateTodo()" ontimeupdate="">
                <input name="descricao" id="descricao" ng-model="vm.todo.descricao" class="form-control form-control-lg"
                       type="text" placeholder="
O que precisa ser feito?"/>

            </form>

            <div id="list-todo" class="content scaffold-list" role="main" ng-cloak>

                <ul class="list-group">
                    <li ng-repeat="todo in vm.todoList" class="list-group-item">
                        <div class="view">
                            <div class="col-md-12">

                                <input class="toggle" type="checkbox" ng-model="todo.finalizado"
                                       ng-change="toggleCompleted(todo)">

                                <label style="{{todo.finalizado ? 'text-decoration: line-through;' : ''}} font-size: 20px;">{{todo.descricao}}</label>
                                <button class="btn btn-danger" style="float: right;" ng-click="vm.delete(todo)"><i class="fas fa-trash"></i>

                                </button>
                                <button class="btn btn-primary" style="float: right;" ng-click="vm.edit(todo.id)"><i class="fas fa-edit"></i>

                                </button>



                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>


        <br>

    </div>

    </div>


</main><!-- /.container -->